.wrapper{
    background: #000;
}

.decor-gray{
    background: #1f1f1f;
}

.menu_block{
    background: #000;
    border: #fff solid;
}

.menu_block-wrapper{
    background: #000;
}

.menu_block-title{
    color: #fff;
}