.wrapper{
    background: #fff;
}

.decor-gray{
    background: #8e8e8e;
}

.menu_block{
    background: #d4d4d4;
    border: #000000 solid;
}

.menu_block-wrapper{
    background: #fdfdfd;
}

.menu_block-title{
    color: #000000;
}