@media screen and (max-width: 1024px) {

    //-----------------------------fixed_menu-----------------------------

    .fixed-socials {
        display: none;
    }

    //-----------------------------index-----------------------------
    .menu_block-wrapper {
        opacity: 0.8;
    }

    //-----------------------------projects-----------------------------
    .wrapper_project {
        width: 80%;
    }

    .progect_site-pic {
        opacity: 1;
        filter: grayscale(0);
    }

    .button_custom {
        &:hover {
            opacity: .8;
        }
    }

    //-----------------------------footer-----------------------------
    .footer .socials_icon {
        fill-opacity: 1;
    }
}

@media screen and (max-width: 960px) {

    //-----------------------------contact-----------------------------
    .wrapper_contact {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-template-rows: auto;
    }

    .container_contact {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .maincontent_contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contact_about {
        margin-top: 3px;
    }
}