@media screen and (max-width: 1024px) {

    //-----------------------------fixed_menu-----------------------------
    .menu-block .socials_icon {
        fill: #fff;
    }

    .navi_menu-list {
        color: #fff;
    }

    //-----------------------------index-----------------------------
    .menu_block-wrapper {
        opacity: 0.8;
    }

    //-----------------------------about_me-----------------------------
    .about {
        color: #000000;
    }

    //-----------------------------projects-----------------------------
    .project_top-right {
        color: #000000;
    }

    .progect_site-pic {
        opacity: 1;
        filter: grayscale(0);
    }

    .button_custom {
        &:hover {
            background: #000000;
            color: #fff;
            opacity: .8;
        }
    }

    //-----------------------------career-----------------------------
    .career-modal__content {
        color: #000000;
    }

    //-----------------------------contact-----------------------------
    .contact-mail,
    .phone-number {
        color: #000000;
    }

    //-----------------------------footer-----------------------------
    .footer .socials_icon {
        fill-opacity: 1;
    }
}

@media screen and (max-width: 960px) {

    //-----------------------------contact-----------------------------
    .wrapper_contact {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-template-rows: auto;
    }

    .container_contact {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .maincontent_contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contact_about {
        margin-top: 3px;
    }
}