@media screen and (max-width: 480px) {

    //-----------------------------fixed_print-----------------------------
    .fixed_print {
        left: 2%;
        right: 0;
    }

    //-----------------------------wrapper-----------------------------

    .container {
        width: 95%;
    }

    .menu_block-title, .menu_block-text {
        margin-left: 5%;
    }

    //-----------------------------project-----------------------------
    .project_block {
        width: 95%;
    }

    .project_bottom {
        width: 95%;
    }

    //-----------------------------career-----------------------------
    .block_adidas {
        grid-row-start: 6;
        grid-row-end: 12;
    }

    .career-modal {
        &__block {
            width: 98%;
        }
        &__content {
            color: #000000;
        }
    }

    //-----------------------------photo-----------------------------
    .content_photo {
        grid-template-columns: auto;
    }

    .photo-media {
        &:hover {
            transform: scale(1.15);
        }
    }

    //-----------------------------contact-----------------------------
    .about {
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
    }
}

@media screen and (max-width: 350px) {

    //-----------------------------photo-----------------------------
    .container_photo {
        width: 95%;
    }

    .photo-media {
        &:hover {
            transform: scale(1.02);
        }
    }
    //-----------------------------career-----------------------------
    .career-modal {
        &__block {
            height: 450px;
        }
        &__wrap {
            height: 400px;
        }
        &__title {
            height: 50px;
            & h4 {
                display: none;
            }
        }
        &__content {
            height: 350px;
        }
    }
}

@media screen and (max-height: 415px) {
 
    //-----------------------------career-----------------------------
    .career-modal{
        &__block {
            width: 98%;
            height: 350px;
        }
        &__wrap {
            height: 320px;
        }
        &__title {
            height: 40px;
            & h4 {
                display: none;
            }
        }
        &__content {
            height: 280px;
        }
    }
}

@media screen and (max-height: 376px) {
 
    //-----------------------------career-----------------------------
    .career-modal{
        &__block {
            height: 300px;
        }
        &__wrap {
            height: 280px;
        }
        &__title {
            display: none;
        }
    }
}

@media screen and (max-height: 340px) {
 
    //-----------------------------career-----------------------------
    .career-modal{
        &__block {
            height: 280px;
        }
        &__wrap {
            height: 250px;
        }
        &__content {
            height: 250px;
        }
    }
}