//-----------------------------about-----------------------------

.wrapper_about {
    background: #fff;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

.container_about {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    display: grid;
    grid-gap: 35px;

    width: 75%;
}

.maincontent {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    background: #8e8e8e;
    display: grid;
    overflow: hidden;
}

.about {
    width: 90%;
    background: #fff;
    margin-top: 10%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    z-index: 5;
}

.about_block {
    background: #fdfdfd;
}

.about_block-left {
    display: grid;
}

.about_block-right {
    width: 95%;
}


.about_my-photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about_right-title {
    font-size: 14px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about_position {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.about_position-text {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.about_skills {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.about_skills-text {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.about_my-photo {
    display: grid;
}

.about_photo-wrap {
    width: 40%;
    min-width: 100px;
    border: #000000 solid 1px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    filter: saturate(0.5);
    display: grid;
    transition: all ease-in .2s;
}

.about_photo-pic {
    justify-self: center;
    align-self: center;
}

.about_title {
    justify-self: end;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
}

.about_block-right {
    &:hover {
        color: #000000;
        transition: all ease-in .7s;
    }
}

.about_position-text,
.about_skills-text {
    font-size: 15px;
    font-weight: 400;
}