//-----------------------------project-----------------------------

.project-header {
    position: absolute;
    // left: 8%;
    padding-left: 8%;
    padding-bottom: 60px;
    width: 28%;
    background: #fff;
    z-index: 10;
}

.project-header_block {
    background: #fff;
}

.progect_gray {
    background: #999;
    position: relative;
    display: grid;
    overflow: hidden;
}

.wrapper_project {
    margin: 0 auto;
    width: 65%;
    display: grid;
    background: #fff;
    z-index: 5;
}

.project__slide--wrap {
    display: grid;
}

.project_block {
    margin-top: 185px;
    width: 90%;
    justify-self: center;
    display: none;
    grid-gap: 50px;
}

.project__active {
    display: grid;
}

.project__fade {
    animation-name: project_fade;
    animation-duration: 1s;
}

@keyframes project_fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.project_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project_top-right {
    grid-column-start: 2;
    grid-column-end: 4;
    transition: .5s;

    &:hover {
        color: #000000;
    }
}

.hr_for-tablets {
    display: none;
}

.project_center {
    background: #d4d4d4;
    display: grid;
    border: solid #000000;

    &:hover .progect_site-pic {
        opacity: 1;
        filter: grayscale(0);
        transition: all ease-in 0.2s;
    }
}

.progect_site-pic {
    opacity: 0.7;
    align-self: center;
    filter: grayscale(1);
}

.project_bottom-next, .project_bottom-prev {
    height: 40px;
    bottom: 10%;
    position: fixed;
    z-index: 100;
}

.project_counter {
    width: 70px;
    height: 40px;
    background: #000;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #fff 2px ;
    background: #000000;
    transition: .3s;
    opacity: .8;
    z-index: 100;

    &-active {
        color: #fff;
        font-size: 20px;
        font-weight: 800;
    }
    &-all {
        font-size: 16px;
        font-weight: 500;
    }
}

.project_bottom-prev {
    left: 2%;
}

.project_bottom-next {
    right: 2%;
}

.button_prev {
    justify-self: start;
}

.button_next {
    justify-self: end;
}

.button_custom {
    text-align: center;
    color: #fff;
    background: #000000;
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    transition: .3s;
    border: solid #fff;
    opacity: .8;

    &:hover {
        background: #fdfdfd;
        border: solid #000;
        color: #000000;
        opacity: 1;
    }
}