//-----------------------------footer-----------------------------
.footer{
    background: #f1f1f1;
    z-index: 10;
}

.footer_socials{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.footer_socials-wrap{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.socials{
    &:hover .socials_icon{
        fill: #000000;
        transition: all ease-in .3s;
    }
}

.socials_icon{
    width: 22px;
    height: auto;
    fill: #999;
}
