@media print{
    @page { 
        size: auto;
        margin: 0; 
    }

    body{
        color: #000000;
        grid-gap: 0px;
    }

    .qr-code{
        display: block;
    }

    .container_about, .site_link, .fixed_menu, .fixed_print, .footer {
        display: none;
    }

    .header-left-top, .a-right-bottom, .time-right-bottom {
        display: none;
    }

    .maincontent{
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;
        background: #fff;
        display: grid;
    }

    .about{
        margin-top: 15%;
    }

    .about_block-right{
        font-size: 12px;
        color: #000000;
        font-weight: 500;
    }

    .site_name{
        left: 80%;
    }
}